*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:16px;
}
body{
    background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position:  right 230px bottom 360px, left 200px top 360px;
    background-color: hsl(185, 75%, 39%);
    max-width:100%;
    height:100vh;
    font-family: 'Roboto Serif', serif;
}
.container{
    background-color:hsl(0,0%,100%);
    width:85%;
    height:60%;
    top:20%;
    left:7.5%;
    position:absolute;
    border-radius:1rem;
    background-image: url("images/bg-pattern-card.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.image{
    text-align:center;
    width:100%;
    margin-top:6.7rem;
}
.image img{
    border-radius:5em;
    border:0.5em solid white;
}
.name-location{
    text-align:center;
    margin-top:1.2em;
    color: hsl(229, 23%, 23%);
}
.name-location p{
     opacity:50%;
     margin-top:0.9em;
}
.name-location span{
    opacity:50%;
    padding-left:0.3em;
}
.line{
    background-color: hsl(0, 0%, 59%);
    width:100%;
    height:1px;
    position: absolute;
    bottom:26%;
}
.features{
    display:flex;
    justify-content:space-evenly;
    text-align:center;
    margin-top:5em;
    color: hsl(229, 23%, 23%);
    font-size:0.9rem;
}
.features p{
    opacity:50%;
    padding-top:0.8em;
    letter-spacing:0.1em;
    font-weight:100;
    font-size:0.9em;
}
/* ==============================375PX============================ */
@media all and (max-width:375px) {
    body{
        background-position:  right 200px bottom 200px, left 150px top 250px;
    }
    .image{
        margin-top:4.5rem;
    }
    .name-location{
        margin-top:1.2em;
        font-size:0.9rem;
    }
    .features{
        margin-top:5.7em;
        font-size:0.7rem;
        margin-right:1.1em;
    }
}
/* =================================1400PX=========================== */
@media all and (min-width:900px) and (max-width:1400px) {
    body{
        background-position:  right 650px bottom 250px, left 650px top 350px;
    }
    .container{
        width:25%;
        height:58%;
        left:40%;
    }
    .image{
        margin-top:5rem;
    }
    .name-location{
        margin-top:1em;
        font-size:0.7rem;
    }
    .line{
        background-color: hsl(0, 0%, 84%);
        bottom:24%;
    }
    .features{
        margin-top:6.7em;
        font-size:0.6rem;
        margin-right:0.9em;
    }
}
/* =================================1440PX========================= */
@media all and (min-width:1440px) and (max-width:1600px) {
    body{
        background-position:  right 770px bottom 300px, left 770px top 400px;
    }
    .container{
    width:30%;
    left:35%;
    }
    .image{
        margin-top:7.3rem;
    }
    .features{
        margin-top:4.4em;
        margin-right:0.5em;
    }
}

